<br>
    	<p>To enable a shortcut to allow you top open the Testing 
    		options, go to the extensions option and select the 
    		hotkeys you want to use from the 'Hotkey Commands' at
    		the bottom of the list of extensions.
    	<br>
    	<br>
    	<p>
    	Use this option to clear and reset your localstorage. This will
    	delete all tests and provide you the default test runs.
    	</p>
    	<Br>
    	<button ng-click="reloadSampleTests();" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-retweet"></span> Reset to Sample Test Runs
		</button>