<!doctype html>
<html ng-app="myApp">
<style type="text/css">
	#mainPopup {
		padding: 10px;
		width: 500px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
		min-height: 400px;
	}
	h1 {
		font-size: 2em;
	}
	.ui-state-highlight { 
		border: 1px solid #DFDFDF; height: 20px; margin: 10px; background-color: #EFEFEF;
	}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheets" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="../../js/jquery/jquery.js"></script>
<script src="../../js/jqueryui/jquery-ui.min.js"></script>
<script src="../../js/underscore/underscore-min.js"></script>
<script src="../../js/async/async.min.js"></script>
<script src="../../js/angular/angular.js"></script>
<script src="test.js"></script>

<body class="container" ng-controller="mainController">

<div id="mainPopup">
<h4 style="padding: 0; margin: 5px 0px;">Test Builder</h4>


<table class="table">
	<td>
		<select id="activeTest" ng-change="changeCurrentTest()" name="activeTest" class="form-control" ng-model="activeTest" ng-options="service.name for service in services">
		</select>
	</td>
	<td>
		<select id="runSpeed" name="runspeed" class="form-control">
			<option value="0">Fast</option>
			<option value="500">Slow</option>
		</select>
	</td>
	<td>
		<button class="btn btn-primary btn-sm runTestAll hide">
			Reset
		</button>

		<button ng-click="removeTestButton();" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-minus"></span>
		</button>

		<button ng-click="reloadSampleTests();" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-retweet"></span>
		</button>


		<button ng-click="addTestButton();" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-plus"></span>
		</button>

		<button ng-click="runAllTest()" class="btn btn-primary btn-sm runTestAll">
			All
		</button>
	</td>
</table>

<table  class="table table-border table-striped table-hover">
  <tbody id="sortable">
  <tr ng-repeat="step in activeTest.steps">
    <td width="5%">
		<span class="glyphicon glyphicon-align-justify"></span>
    </td>
	<td width="60%" ng-dblclick="editTestStep($index);">
		  <div ng-show="editModeIdx == $index" class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-12">
		      <input type="text" class="form-control" ng-model="step.name" placeholder="Name">
		    </div>
		  </div>
		  <div ng-show="editModeIdx == $index" class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Selectors</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="step.target" placeholder="Selectors">
		    </div>
		  </div>
		  <div ng-show="editModeIdx == $index" class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Value</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="step.value" placeholder="Value">
		    </div>
		  </div>
		  <div ng-show="editModeIdx == $index" class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Action</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="step.action" placeholder="Action (Optional)">
		    </div>
		  </div>
	   <p ng-show="editModeIdx != $index">{{step.name}}</p>
	</td>
	<td>
	   <span data-id="{{$index}}" class="glyphicon glyphicon-ok hide" style="color:green"></span>
	</td>
	<td align="right">

		<button ng-show="editModeIdx == $index" ng-click="saveTestStepChanges($index)" class="btn btn-primary">
		  Save
		</button>

		<button ng-show="editModeIdx != $index" ng-click="deleteTestStep($index)" class="btn btn-danger">
		  <span class="glyphicon glyphicon-minus"></span>
		</button>

		<button ng-show="editModeIdx != $index" data-id="{{$index}}" ng-click="runIndividualTest($index)" class="btn btn-default btn-sm runTest">
		Run
		</button>
	</td>
  </tr>
  <tr>
	<td colspan="4">
		<div class="input-group">
	     <input type="test" class="form-control" ng-model="newTestStep" placeholder="" value="dd">
	     <span class="input-group-btn">
	       <button class="btn btn-primary" ng-click="createTestStep();" type="button">createTestStep</button>
	     </span>
	   </div>
	</td>
  </tr>
  </tbody>
</table>

<div id="finalMessage" class="alert alert-success hide" role="alert"></div>

<div id="newTestForm" class="hide">
	<div class="input-group">
     <input type="test" class="form-control" ng-model="newTest.name" placeholder="Enter Test Name" value="{{newTest.name}}">
     <span class="input-group-btn">
       <button class="btn btn-primary" ng-click="createTest();" type="button">Add Now</button>
     </span>
   </div>
</div>

</body>
</html>



